
.bio-tag h1{
  border: 1px solid blue;
  padding: 20px;
  width: 300px;
  font-size: 20px;
  margin: 20px 0 5px 0;
  border-radius: 10px;
}

.bio-tag p{
  padding: 10px 20px 10px 5px;
  border: 3px solid red;
  width: 800px;
}

.img-tag{
  height: 300px;
  width: 300px;
  border: 1px solid gray; 
  margin-left: 170px;
}

.img-tag img{
  height: 300px;
  width: 300px;
}

.custom_form{
  margin-left: 150px;
   margin-top: 40px;
}

.custom_input{
  margin-bottom: 20px;
}

#custom_btn1{
  background-color: red;
  outline: 0;
  border: none;
  padding: 15px;
  color: #ffffff;
}

.news{
  margin: 10px;
}

.signup_login-tag{
  border: 1px solid blue;
  padding: 10px;
  width: 300px;
  font-size: 20px;
  /* margin: 20px 0 5px 0; */
  margin: auto;
  border-radius: 10px;
  
}